/*color variables*/
:root {
  --blue: #2196f3;
  --black: #000000;
  --white: #ffffff;
  --dark-section: #2f303a;
  --gray-section: #f5f4fa;
  --dark-title: #212121;
  --dark-text: #757575;
  --white-background: #f5f5f5;
  --dark-blue: #188ce8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
  border-radius: 4px;
}

address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: roboto, sans-serif;
  background: var(--white);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*------------------------Header-------------------------*/
.header {
  background-color: var(--white);
  border-bottom: 1px;
  border-color: #ececec;
}

.header-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-title);
}

.header-list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header {
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
}

.header-logo {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--blue);
}

.header-logo-studio {
  color: var(--black);
}

.header-studio-logo {
  color: var(--white);
}

.header-link-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--blue);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover,
:focus {
  color: var(--blue);
}

.phone {
  width: 122px;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover,
:focus {
  color: var(--blue);
}

.header-list .link:hover,
.header-list .link:focus {
  color: var(--blue);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-contact-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.post-phone-link {
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail {
  display: flex;
  align-items: center;
}

.header-mail:hover .post-phone-link {
  fill: var(--blue);
}

.tel-phone-link {
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel {
  display: flex;
  align-items: center;
}

.header-tel:hover .tel-phone-link {
  fill: var(--blue);
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-item {
  position: relative;
}

.current {
  color: var(--dark-blue);
}

.current::after {
  content: "";
  position: absolute;
  background: var(--dark-blue);
  height: 4px;
  border-radius: 2px;
  width: 100%;
  bottom: -33px;
  left: 0;
}

/*----------------------------Main---------------------------*/

.main-section {
  background-color: var(--dark-section);
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/img-main.jpg);
  width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-section {
  background-color: var(--dark-section);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white);

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white);

  background-color: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

button:focus {
  background-color: var(--dark-blue);
  color: var(--white);
}

.main-btn {
  padding: 10px 32px;
}

/*-----------vector-----------*/

.vector-list {
  display: flex;
  gap: 30px;
  margin-top: 94px;
  margin-bottom: 30px;
}

.vector-link {
  width: 100%;
  height: 100%;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vector-item {
  width: calc((100%-90px) / 4);
  height: 120px;
}

.vector-detals::before {
  content: "";
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
  background-image: url(../img/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
}

.vector-punctuality::before {
  content: "";
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
  background-image: url(../img/clock.png);
  background-repeat: no-repeat;
  background-position: center;
}

.vector-planning::before {
  content: "";
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
  background-image: url(../img/diagram.png);
  background-repeat: no-repeat;
  background-position: center;
}

.vector-technology::before {
  content: "";
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  display: block;
  margin-bottom: 30px;
  background-image: url(../img/astronaut.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*------------Main item---------*/

.main-item {
  background-color: inherit;
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-item-list {
  display: flex;
  gap: 30px;
  flex-basis: 270px;
}

.main-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--dark-title);

  margin-bottom: 10px;
}

.main-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  line-height: 24px;
  color: var(--dark-text);

  width: 270px;
}

/*--------------------About-------------------*/

.about {
  background-color: inherit;
  padding-bottom: 94px;
}

.about-position {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-title);
}

.about-position-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

/*-----Upper block------*/

.upper-picture {
  position: relative;
}

.upper-block {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.block-title {
  position: absolute;
  top: 27px;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.block-picture {
  position: relative;
}

/*----------workers---------*/

.about-workers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-title);
}

.workers {
  background-color: var(--gray-section);
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-workers-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-title);

  padding-top: 30px;
  margin-bottom: 10px;
}

.about-workers-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-text);

  margin-bottom: 16px;
}

.worker-photo {
  background-color: var(--white);
}

.about-workers-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.workers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.workers-soc-link {
  width: 100%;
  height: 100%;
  background: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.workers-soc-link:hover,
.workers-soc-link:focus {
  background-color: var(--blue);
}

.workers-soc-link:hover .workers-soc-icon,
.workers-soc-link:focus .workers-soc-icon {
  fill: var(--white);
}

.workers-soc-item {
  width: 44px;
  height: 44px;
}

.workers-soc-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.workers-soc-icon{
  width: 20px;
  height: 20px;
}*/

/*------------Klients---------------*/
.klients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.about-klients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-title);
}

.klients-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.klients-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.klients-item {
  width: calc((100%-150px) / 6);
  height: 90px;
}

.klients-link:hover,
.klients-link:focus {
  border-color: var(--blue);
}

.klients-icon {
  fill: #afb1b8;
  transition: fill 200ms linear;
}

.klients-link:hover .klients-icon,
.klients-link:focus .klients-icon {
  fill: var(--blue);
}

/*-------------Contacts Adress-------------*/

.about-contacts-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
}

.about-contacts-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.about-mail {
  margin-top: 9px;
}

.about-contacts-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.about-tel {
  margin-top: 9px;
}

.contacts-adress {
  background-color: var(--dark-section);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-adresses {
  font-style: normal;
  margin-top: 20px;
}

/*-------------Footer------------*/

.footer-container {
  display: flex;

  align-items: baseline;
}

.footer-container-left {
  margin-right: 70px;
}

/*------------------------Footer right------------------*/

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--blue);
}

.footer-soc-link:hover .workers-soc-icon,
.footer-soc-link:focus .workers-soc-icon {
  fill: var(--white);
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
}

.footer-soc-icon {
  fill: var(--white);
}

.footer-soc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white);
}

.footer-soc-title {
  margin-bottom: 20px;
}

/*--------Online section-----------*/

.footer-online-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white);

}

.footer-online-title {
  margin-bottom: 20px;
}


.online-button {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin-left: 12px;
  color: var(--white);

  background-color: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.online-input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.online-input::placeholder{
font-size: 16px;
line-height: 20px;
color: rgba(255, 255, 255, 0.6);
}

.modal-online-icon {
  fill: var(--white);
  margin-left: 10px;
}

.online-section{
  margin-left: 93px;
}

.online-form{
  display: flex;
}

/*------------------Btn-list--------------------------*/

.portfolio-section {
  background-color: var(--white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-list {
  height: 38px;
  left: 957px;
  top: 174px;
  background: var(--gray-section);
  border-radius: 4px;
  border: none;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: var(--dark-title);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list {
  padding: 6px 22px;
}

.section-btn-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--white);
  background: var(--blue);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.section-btn {
  display: flex;
  gap: 8px;
  justify-content: center;

  margin-bottom: 50px;
}

/*----------------------Picture------------------------------*/

.picture {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.picture-image {
  background-color: var(--white);
}

.picture-image:hover .image-text {
  transform: translateY(0);
}

.image-wrap {
  position: relative;
  overflow: hidden;
}

.image-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}

.picture-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-title);
  letter-spacing: 00.03em;

  margin-bottom: 4px;
}

.picture-text-list {
  padding: 20px 24px 20px 24px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: 1px;
  border-top: none;
  width: 370px;
}

.picture-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--dark-text);
}

.picture {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.picture-image:hover,
.picture-image:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*----------Modal Window----------*/

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--white);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--white);
}

.modal-close-icon:hover{
  fill: var(--blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: #212121;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  margin-top: 4px;
}

.modal-input:focus {
  border-color: var(--blue);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.input-label {
  font-size: 12px;
  color: #757575;
}

.input-label span {
  display: block;
}

/*
.modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgb(187, 227, 187);
}

.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgb(243, 178, 178);
}
*/

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding: 12px;
  resize: none;
  margin-top: 4px;
}


.modal-text:focus {
  border-color: var(--blue);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-text::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:checked + .check-text span {
  background-color: var(--blue);
  border-color: transparent;
  fill: var(--white);
}

.input-check:focus + .check-text span {
  border-color: var(--blue);
}

.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
}

.modal-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white);

  background-color: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .modal-condition{
  color: var(--blue);
 }
