.about-contacts-map {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white);
  }
  
  .about-contacts-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .about-mail {
    margin-top: 9px;
  }
  
  .about-contacts-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .about-tel {
    margin-top: 9px;
  }
  
  .contacts-adress {
    background-color: var(--dark-section);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .contacts-adresses {
    font-style: normal;
    margin-top: 20px;
  }