:root {
    --blue: #2196f3;
    --black: #000000;
    --white: #ffffff;
    --dark-section: #2f303a;
    --gray-section: #f5f4fa;
    --dark-title: #212121;
    --dark-text: #757575;
    --white-background: #f5f5f5;
    --dark-blue: #188ce8;
  }