.footer-container {
display: flex;
flex-direction: column;
gap: 60px;
/*  display: flex;
  flex-direction: row;
    align-items: baseline;*/
  
  
     @media screen and (min-width: 480px) {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    align-items: baseline;
    gap: 60px;
    align-items: center;
    justify-content: center;
    
  }

   @media screen and (min-width: 768px){
   
  /* align-items: baseline;
   gap: 165px;*/ 
   display: flex;
  }

   @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 94px;
    
  }
  }
  
  .footer-container-left {
    margin-right: 93px;
    margin-right: 0px;
    gap: 12px;

    @media screen and (min-width: 1200px) {

   /* margin-right: 93px;*/
    /*display: block;*/
  }
  }

  .header-studio-logo {
    color: var(--white);
  }

 .footer-logo{
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    display: block;
  }
  
  }

  .about-contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;

    align-items: center;

    @media screen and (min-width: 1200px) {
     align-items: flex-start;
  }
  }

 .left-right{ 
  display: flex;
  flex-direction: column;
  gap: 60px;

   @media screen and (min-width: 768px) {
  display: flex;
  flex-direction: row;
  gap: 165px;
  justify-content: center;
  align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
  display: flex;
  flex-direction: row;
  gap: 94px;
  }
 }

  