.header {
  background-color: var(--white);
  border-bottom: 1px;
  border-color: #ececec;
}

.menu .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-title);
  &:hover,
  &:focus {
    color: var(--blue);
  }
}

.menu {
  /*display: flex;*/ 
  display: none;
  gap: 50px;
  /*margin-left: 93px;*/
  
 

   @media screen and (min-width: 1200px) {
    display: flex;
  gap: 50px;
  margin-left: 93px;
  }

   @media screen and (min-width: 768px) {
    display: flex;
  gap: 50px;
  margin-left: 88px;
  margin-right: 93px;
  }

}

header {
  padding-top: 24px;
  /*padding-bottom: 25px;*/ 
  padding-bottom: 20px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 25px;
  }
}

.header {
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
}

.logo {
  font-family: raleway;
  font-weight: 700;
  /*font-size: 26px;
  line-height: 1.19;*/ 
  font-size: 24px;
  line-height: calc(28/24);
  letter-spacing: 0.03em;
  color: var(--blue);

   @media screen and (min-width: 1200px) {
    font-size: 26px;
  line-height: 1.19;
  }
}

.logo__text {
  color: var(--black);
}

.menu__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--blue);
}

.connect__mail {
  font-weight: 500;
  /*font-size: 14px;
  line-height: 1.14;*/ 
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.02em;
  color: var(--dark-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--blue);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.phone {
  width: 122px;
}

.connect__tel {
  font-weight: 500;
  /*font-size: 14px;
  line-height: 1.14;*/
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.02em;
  color: var(--dark-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--blue);
  }

   @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.connect {
 /*display: flex;*/
  display: none;
  align-items: center;
  gap: 50px;

  
  @media screen and (min-width: 768px) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  }

  @media screen and (min-width: 1200px) {
  display: flex;
  align-items: center;
  gap: 40px;
  }

 
}

.connect__icon {
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .connect__mail:hover & {
    fill: var(--blue);
  }
}

.connect__mail {
  display: flex;
  align-items: center;
}

.connect__phone {
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .connect__tel:hover & {
    fill: var(--blue);
  }
}

.connect__tel {
  display: flex;
  align-items: center;
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__item {
  position: relative;
}

.current {
  color: var(--dark-blue);
  &::after {
    content: "";
    position: absolute;
    background: var(--dark-blue);
    height: 4px;
    border-radius: 2px;
    width: 100%;
    bottom: -33px;
    left: 0;
  }
}

/*------mobile*-------*/

.naw-icon {
  fill: var(--black);
  border: none;
  width: 24px;
  height: 16px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.naw-icon:hover {
  fill: var(--blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open {
  background-color: var(--white);
  border: none;
  &:hover,
  &:focus {
    background-color: var(--white);
  }
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  top: 0;
  position: fixed;
  z-index: 1;
  padding-top: 21px;
  padding-bottom: 21px;

  >.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu__close {
  background-color: var(--white);
  margin-left: auto;
  display: block;
  margin-bottom: 8px;
  border: none;
}

.menu__close:hover {
  background-color: var(--white);
  border: none;
}

.mob-close-icon {
  fill: var(--black);
}

.mob-close-icon:hover {
  fill: var(--blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob__menu__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--black);
}

.mob__menu__item:hover,
.mob__menu__item:focus {
  color: var(--blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-item-list:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__list {
  margin-bottom: 150px;
}

.mob-connect__tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--blue);
}

.mob-tel {
  margin-bottom: 32px;
}

.mob-connect__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mob-soc-list {
  display: flex;
  gap: 10px;
  margin-top: 64px;
}

.mob-soc-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--blue);
}

.menu-open {
  @media screen and (min-width: 1200px) {
    display: none;
  } 
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu-top {
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mob-menu-bottom {
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
