.upper-picture {
    position: relative;
  }
  
  .upper-block {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
  }
  
  .block-title {
    position: absolute;
    top: 27px;
    width: 100%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
  }
  
  .block-picture {
    position: relative;
  }